body{
    box-sizing: border-box;
    background: grey;
}
h1, h3{
    display: flex;
    margin: auto;
}
#question, #choices{
    display: flex;
    flex-direction: column;
    margin: 1% auto;
}
img{
    border: 5px solid black;
    display: flex;
    width: 275px;
    height: 300px;
    margin: auto;
}
button{
    display: flex;
    margin: 1% auto;
    width: 20%;
    background-color: teal;
    color: white;
    border: solid white 1px;
}